<div class="container-fluid home no-padding becomeBudday">

	<div class="col-md-12 padding-10">
	<h1> Want to become a budday? </h1>
	<p> Well, we would love for you to be one! In order to ensure that all the buddays are fit for the job they go through a short screening. This also allows us to set up your personalized profile. If you give us the following information we will contact you shortly. 
	</p>
	</div>

	<div class="col-md-3"></div>
	<div class="col-md-6">
	<!-- FORM -->
	<form name="becomeBudday" class="buddayForm">
		<fieldset class="form-group">
	    <label for="name">Name</label>
	    <input type="text" autocomplete="name" class="form-control" id="name" placeholder="Enter first and last name" ng-model="becomeBuddayCtrl.input.name" required>
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="inputEmail">Email address</label>
	    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" ng-model="becomeBuddayCtrl.input.email" required>
	    <small class="text-muted">We'll never share your email with anyone else.</small>
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="textarea">Tell us why you want to be a budday</label>
	    <textarea class="form-control" id="textarea" rows="5" ng-model="becomeBuddayCtrl.input.textarea" required></textarea>
	  </fieldset>
	  <!-- <div class="radio">
	  	How would you like us to contact you? <br>
	    <label>
	      <input type="radio" name="optionsRadios" id="optionsRadios2" value="phone" ng-model="becomeBuddayCtrl.input.contact">
	      Give me a call
	    </label>
	  </div>
	  <div class="radio">
	    <label>
	      <input type="radio" name="optionsRadios" id="optionsRadios3" value="email" ng-model="becomeBuddayCtrl.input.contact">
	      Shoot me an email
	    </label>
	  </div> -->
	  <button type="submit" ng-class="{'disabled': becomeBudday.$invalid}" ng-click="becomeBuddayCtrl.submit()" class="btn btn-block btn-lg btn-success">Submit</button>
	</form>
	</div>
	<div class="col-md-3"></div>

</div>